{% extends "posts/post_base.html" %}

{% block post_content %}
    <h3>Are You sure You want to delete this post</h3>
    <div class="psots">
        {% include "posts/_post.html" with post=object hode_delete=True %}
    </div>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm Delete" class="btn btn-danger btn-lg">
        <a href="{% url 'posts:single' username=user.username pk=object.pk %}" class="btn btn-primary btn-lg">Cancel</a>
    </form>
{% endblock %}